{% extends "page.html" %}
{% block body %}
<h1>{{ fname.capitalize() }}</h1>
<form method="post">
{% for name,param in sig.parameters.items(): %}
<label for="{{ name }}">{{ name.capitalize() }}:</label>
{% if helpers.type(param) == "radio" %}
<br>
{% for v in param.annotation %}
{{radio(param, v.name, v.name == param.default.name)}}
{% endfor %}
{% elif helpers.type(param) == "select" %}
<select name="{{param.name}}" id="{{param.name}}">
{% for v in param.annotation %}
{{select(param, v.name)}}
{% endfor %}
</select>
{% else %}
<input type="{{ helpers.type(param) }}" name="{{ name }}" value="{{ helpers.default(param) }}">
{% endif %}
{% endfor %}
<input type="submit" value="Submit"></form>
</form>
{% if result is defined %}
<p>Result: {{ result }}</p>
{% endif %}
{% endblock %}


{% macro radio(param, value, checked) -%}
    <input type="radio" id="{{value}}" name="{{param.name}}" value="{{value}}" {{'checked' if checked else ''}}>
    <label for="{{param.name}}">{{value}}</label><br>
{%- endmacro %}

{% macro select(param, value) -%}

        <option value="{{value}}">{{value}}</option>
    
{%- endmacro %}